@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 217 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 173 71% 43%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 43 87% 58%;
    --accent-foreground: 0 0% 9%;
    --destructive: 2 70% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 217 52% 47%;
    --chart-1: 22 87% 58%;
    --chart-2: 173 71% 43%;
    --chart-3: 2 70% 58%;
    --chart-4: 43 87% 58%;
    --chart-5: 217 52% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 173 71% 43%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 43 87% 58%;
    --accent-foreground: 0 0% 9%;
    --destructive: 2 70% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 217 52% 47%;
    --chart-1: 22 87% 58%;
    --chart-2: 173 71% 43%;
    --chart-3: 2 70% 58%;
    --chart-4: 43 87% 58%;
    --chart-5: 217 52% 47%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
